@import "type";
@import "layout";
@import "button";

.leftcol {
  float: left;
  width: 70%;
  padding-right: 60px;
  padding-top: 20px;
}
.rightcol {
  float: left;
  width: 30%;
  padding-top: -20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
